*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url('./images/olga-thelavart-HZm2XR0whdw-unsplash.jpg');
}
/* navbar */
.pageName{
  text-decoration: none;
  color: rgb(255, 207, 64);
}
.pageName:hover{
  cursor: pointer;
  opacity: .8;
}
.header{
  background-image: url('./images/keith-misner-h0Vxgz5tyXA-unsplash.jpg');
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: rgb(40, 40, 40);
}
.navLinks {
  list-style: none;
}
.navLink {
  display: inline-flex;
}
.navLinks li{
  display: inline-block;
  padding: 0px 0px 0px 20px;
}
.link{
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: large;
  text-decoration: none;
  color: rgb(255, 207, 64);
}
.link:hover{
  opacity: .8;
}
.homeImage{
  display: block;
  padding: 20px 0px 20px 0px;
  height: 60vh;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 900px) {
  .homeImage {
    height: 45vh;
    width: 90vw;
  }
}
.intro-text{
  text-align: center;
  display: block;
  background-color: rgba(255, 250, 109, 0.5);
  font-size: 20px;
  
}
.sales-homepage{
  display: inline-block;
  padding-left: 5%;
}
/* navbar */
/* login */
.login-container{
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  margin:20px 10% 0px 10%;
  padding-top: 40px;
  padding-bottom: 30px;
  overflow: hidden;
}
/* login */
/* My Listing */
.listing{
  display: flex;
  flex-wrap: wrap;
}

img{
  height: 100px;
  width:100px;
}
.user-greeting{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategray;
  margin-top: 20px;
}
.listing-container{
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
  border-style: solid;
  border-color: gray;
  display: inline-flex;
  flex-direction: column;
  padding: 20px;
}
.add-item-btn{
  float:right;
  margin-right: 5%;
}
/* My Listing */
/* Home page Listings */
.listed-users{
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  color: darkslategray;
}
.listed-users-container{
  background-color: white;
  border-style: double;
  padding: 5px 30px 5px 30px;
  margin-bottom: 5px;
  width: 90vw;
  text-align: center;
}
.listed-users-container:hover{
  background-color: rgb(255, 227, 68);
  color: white;
  cursor: pointer;
}
.sales-header{
  font-family:Arial, Helvetica, sans-serif ;
  text-decoration: underline;
  color: darkslategrey;
  margin-bottom: 10px;
}
/* Home page Listings */
/* buttons */
button{
  padding:2px 5px 2px 5px;
  border-radius: 2px;
  color: white;
  background-color: rgb(108, 108, 108);
}
button:hover{
  cursor: pointer;
}
/* buttons */
/* public Listings */
.listing-welcome{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategray;
}
/* public Listings */
/* logged out message */
.logged-out-text{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  background-color: rgb(255, 255, 121);
}
/* logged out message */
/* Edit post */
.edit-container{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: double;
  background-color: whitesmoke;
  width: 90%;
}
.edit-title{
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategray;
  margin-bottom: 10px;
}
.edit-item-name{
  margin-bottom: 2px;
}
.edit-button{
  margin-top: 5px;
  margin-bottom: 20px;
  width: 60vw;
}
.edit-button:hover{
  background-color: gray;
}
.edit-form-input{
  width: 60vw;
  height: 5vh;
}
/* Edit post */
/* Add post */
.add-container{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: double;
  background-color: whitesmoke;
  width: 90%;
}
.add-title{
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategray;
  margin-bottom: 10px;
}
.add-item-name{
  margin-bottom: 2px;
}
.add-button{
  margin-top: 5px;
  margin-bottom: 20px;
  width: 60vw;
}
.add-button:hover{
  background-color: gray;
}
.add-form-input{
  width: 60vw;
  height: 5vh;
}
/* Add post */
/* cart */
.cart-title{
  font-family: Arial, Helvetica, sans-serif;
  color: darkslategray;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.cart-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: double;
  background-color: white;
  width: 60%;
}
.cartTotal{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: overline;
  text-align: center;
  margin-right: 20px;
  margin-top: 30px;
  color: darkslategray;
}
.cart-item{
  text-align: center;
  margin-bottom: 10px;
  color: darkslategray;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.cart-checkout-btn-container{
  text-align: center;
  margin-top: 10px;
}
.cart-checkout-btn{
  width: 30vw;
  height: 4vh;
}
.cart-checkout-btn:hover{
  background-color: gray;
}
/* cart */
/* footer */
.nav-and-body{
  min-height: calc(100vh - 60px);
}
footer{
  height:60px;
  background-color: rgb(41, 41, 41);
}
.footer-text{
  color: gray;
  text-align: center;
  padding-top: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:25px ;
}
/* footer */
